a.link
a.link:hover,
a.link:visited,
a.link:link,
a.link:active {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.lnb .title h1{
  font-family: 'Jura', sans-serif;
}

.lnb .logo {
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img.logo {
  width: 25px!important;
  height: 25px!important;
}